body {
	background-color: #fafbfc;
}
.m-t-40 {
	margin-top: 40px;
}
.title a {
	color: #0091ea;
	text-decoration: none;
}
/* fonts */
@font-face {
    font-family: "Proxima Nova Bold";
    src: url(font/ProximaNovaBold.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url(font/ProximaNovaLight.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url(font/ProximaNovaRegular.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url(font/ProximaNovaSemibold.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url(font/ProximaNovaThin.otf) format("truetype");
}
.title {
	margin-bottom: 40px;
}
/* emp-btn-style1 */
.emp-btn-style1 span {
	margin-left: 30px;
}
.emp-btn-style1 {
	transition: all 0.4s ease;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 800;
	font-size: 14px;
	width: 200px;
	color: #c2185b;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #c2185b;
	border-radius: 0px;
	font-family: "Proxima Nova Semibold";
}
.emp-btn-style1:hover {
	color: #fff;
	background-color: #c2185b;
	border: none;
	border-bottom: 2px solid #c2185b;
	border-radius: 0px;
}
.emp-btn-style1:active {
	color: #fff;
	background-color: #c2185b;
	border: none;
	border-bottom: 2px solid #c2185b;
	border-radius: 0px;
}
.emp-btn-style1:focus {
	outline: none;
	color: #fff;
	background-color: #c2185b;
	border: none;
	border-bottom: 2px solid #c2185b;
	border-radius: 0px;
}
/* emp-btn-style2 */
.emp-btn-style2 {
    background: #fff;
    background: linear-gradient(to right,#fff 50%,#06d79c 50%);
    background-size: 200% 100%;
    transition: all .3s ease;
    background-position: left bottom;
    border: 2px solid #cfd8dc;
    border-radius: 2px;
    font-size: 16px;
    font-family: "Proxima Nova Semibold";
    font-weight: 600;
    color: #343434;
    width: 200px;
    height: 42px;
}
.emp-btn-style2:hover {
    background-position: right bottom;
    color: #fff;
    border: 2px solid #06d79c;
}
.emp-btn-style2:focus {
    background-position: right bottom;
    color: #fff;
    border: 2px solid #06d79c;
}

/* emp-btn-style3 */
.emp-btn-style3 {
    border-width: 2px;
    border-color: rgba(2,155,249,0.5);
    border-style: solid;
    border-radius: 2px;
    font-size: 16px;
    font-family: "Proxima Nova Semibold";
    color: rgba(2,155,249,0.5);
    width: 200px;
    height: 42px;
    background-color: transparent;
    right: 0;
    transition: all .3s ease-out;
}
.emp-btn-style3:hover {
    border-color: #029bf9;
    color: #029bf9;
    transition: all .3s ease-out;
}

/* emp-btn-style4 */

.emp-btn-style4 {
	width: 200px;
	height: 42px;
    background-color: #0091ea;
    font-family: "Proxima Nova Semibold";
    color: #fff;
    border-radius: 2px;
	font-size: 16px;
    border: 1px solid transparent;
}
.emp-btn-style4:hover {
	background-color: #38b1fc !important;
    border-radius: 2px !important;
    outline: 0;
    box-shadow: none !important;
}

/* emp-btn-style5 */

.emp-btn-style5 button {
  position: relative;
  cursor: pointer;
  user-select: none;
  outline:none !important;
  width:200px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #06d79c;
  border-color: #02be89;
  color: #fff;
}
.emp-btn-style5 button:hover {
  background-color: #02be89;
  border-color: #00b07e;
}
.emp-btn-style5 button:active {
  outline:none;
}
.emp-btn-style5 button.ribbon {
  outline:none;
  outline-color: transparent;
}
.emp-btn-style5 button.ribbon:before, .emp-btn-style5 button.ribbon:after {
  top: 5px;
  z-index: -10;
}
.emp-btn-style5 button.ribbon:before {
  border-color: #02be89  #02be89  #02be89  transparent;
  left: -25px;
  border-width: 17px;
}
.emp-btn-style5 button.ribbon:after {
  border-color: #02be89  transparent #02be89  #02be89;
  right: -25px;
  border-width: 17px;
}

.emp-btn-style5 button:before, button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}
    
.emp-btn-style5 button.btn-primary:before {
    border-color: #02be89  #02be89  #02be89  transparent;
}
.emp-btn-style5 button.btn-primary:after {
    border-color: #02be89  transparent #02be89  #02be89 ;
}
    